asgiref
crispy-bootstrap5
distlib
Django
django-crispy-forms
django-email
django-environ
filelock
MouseInfo
pillow
platformdirs
psycopg2
PyAutoGUI
pycryptodome
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
pytweening
sqlparse
tzdata
virtualenv
virtualenvwrapper-win